<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Productvariant #<%= @productvariant.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/productvariants" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/productvariants/<%= @productvariant.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit productvariant
        </a>
      </div>

      <div class="col">
        <a href="/delete_productvariant/<%= @productvariant.id %>" class="btn btn-block btn-outline-secondary">
          Delete productvariant
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Product
      </dt>
      <dd>
        <% if @productvariant.product.present? %>
          <a href="/products/<%= @productvariant.product_id %>">
            <%= @productvariant.product.productline_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Characteristics
      </dt>
      <dd>
        <%= @productvariant.characteristics %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@productvariant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@productvariant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

